/* div {
  width: 50px;
  height: auto;
} */

body {
  background-color: lightslategray;
}

div.App {
  margin: 0 50px;
  margin-top: 60px;
  background-color: lightgray;
  border-radius: 20px;
}

div.app-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: inherit;
}

div.card-left {
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
  background-color: lightpink;
}

div.card-left > img {
  height: 600px;
  width: 400px;
}

div.card-right {
  width: 40%;
}

div.card-right > button,
input {
  border-radius: 10px;
  border: none;
}

div.card-right > button {
  display: block;
}

div.output > p {
  border: 1px solid red;
}
